<!DOCTYPE html>
<html lang="">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>This is a trivial node web app used just to learn Azure deployment</p>
  <p>And this is an updated added from the local IDE.</p>
  </body>
</html>
